
body {
  background-image: url("images/networkbackground.png");
  background-size: cover;
  font-family: "Chopin", helvetica;
}

p {
  color: white;
  font-size: 16px;
  margin-right: 200px;
}

h1 {
  color: white;
  font-size: 36px;
  margin-right: 200px;
}
h2 {
    color: white;
    font-size: 20px;
    margin-right: 200px;
}

ul, ol {
  color: #800000;
  font-size: 22px;
}
